main {
    padding: 30px 30px 10px;
}

.add-ingredient-form {
    display: flex;
    gap: 12px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.add-ingredient-form input {
    padding: 9px, 13px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    font-size: 16px;
    height: 38px;
    padding-left: 10px;
}

.add-ingredient-form button {
    background-color: #141413;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 17px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 38px;
    font-family: Inter, sans-serif;
}

.add-ingredient-form button:hover {
    background-color: #333333;
}

.add-ingredient-form button:before {
    content: "+";
    margin-right:5px;
}
